# Environment variables for Docker development
DATABASE_URL=postgresql://postgres:password@postgres:5432/backend_development
DATABASE_HOST=postgres
REDIS_URL=redis://redis:6379/0
RAILS_ENV=development
RAILS_MAX_THREADS=5
WEB_CONCURRENCY=1
REACT_APP_API_URL=http://localhost:3000
CHOKIDAR_USEPOLLING=true
WATCHPACK_POLLING=true
